[2017-10-22 13:45] ahold89 opened #1 "Support routes with existing baseUrl"
appending the req.baseUrl to the req.route.path should do the job

[code]

[2017-10-23 04:41] #1 closed

[2017-10-23 05:19] idanto commented on #1
released in version v0.2.0

[2017-11-13 13:37] shyimo opened #3 "parseAjvError function throws un handle error"
- when calling enum path of swagger (e.g: /v3/path/:some_enum) with unknown enum value, the _validateParams functions throw error that the parseAjvError function does not know how to handle:

from code:
line 135-137:
 if (error.keyword === 'enum') {
        error.message += ' [' + error.params.allowedValues.toString() + ']';
}

 error.params.allowedValues is undefined and to toString function thro

[2017-12-07 08:57] idanto commented on #3
resolved in version 0.3

[2017-12-07 08:57] #3 closed

[2017-12-24 13:48] kibertoad opened #5 "Endpoint that do not have any parameters fail with an error"
`let bodySchema = dereferenced.paths[currentPath][currentMethod].parameters.filter(function (parameter) { return parameter.in === 'body' });`

This line predictably fails if parameters are null or undefined, which is a valid case.

[2017-12-24 14:12] kibertoad commented on #5
@idanto Thanks for lightning-fast review and merge! Any estimate on when it is feasible to publish 0.3.1 with the fix?

[2017-12-24 14:16] idanto commented on #5
already done :) enjoy

[2017-12-24 14:17] igor-savin-ht commented on #5
Thanks a lot!

[2017-12-24 14:17] #5 closed

[2017-12-27 09:45] lorintotahh opened #7 "[BUG] - path build without basePath"

[2017-12-27 14:32] #7 closed

[2017-12-27 14:36] idanto commented on #7
released a fix in version 0.3.2

[2017-12-28 13:00] igor-savin-ht opened #10 "Validation fails on file formData"
v 0.3.1

When I try to run validation on endpoint that is defined like this:

[code]

I get this error:

`TypeError: Cannot read property 'required' of undefined\n    at parameters.forEach.parameter (/Users/igorsavin/sources/lms-api/api/node_modules/express-ajv-swagger-validation/src/middleware.js:244:48)\n    at Array.forEach (<anonymous>)\n    at buildParametersValidation (/Users/igorsavin/sourc

[2017-12-28 13:07] igor-savin-ht opened #11 "Validation fails on Swaggers without basePath"
middleware.js:

  let parsedPath = dereferenced.basePath !== '/' ? dereferenced.basePath.concat(currentPath.replace(/{/g, ':').replace(/}/g, '')) : currentPath.replace(/{/g, ':').replace(/}/g, '');

This will fail if no basePath is specified in Swagger.

[2017-12-28 13:09] igor-savin-ht commented on #10
(Updated original issue with correct error as 0.3.2 was hiding actual issue behind new one)

[2017-12-28 16:01] idanto commented on #11
Thanks @igor-savin-ht , fixed in v.0.3.3

[2017-12-28 16:01] #11 closed

[2017-12-28 16:48] idanto commented on #10
@igor-savin-ht the package indeed doesn't support `formData` source.
My main goal was to support JSON APIs cause this is what I usually do, but I would be happy to add this case.

Can you please provide a server and a test for this case and I will make a fix for this scenario?

[2017-12-28 16:51] igor-savin-ht commented on #10
Sure, I'll add failing test.

[2017-12-28 17:06] igor-savin-ht commented on #10
@idanto Done.

[2017-12-28 18:35] idanto commented on #10
Thanks @igor-savin-ht

I did a bit of a reading and I'm not sure what should be the expected behavior in your case.
What do you suggest? what would you validate?

[2017-12-28 18:44] igor-savin-ht commented on #10
@idanto I would say that in given case the only important thing is to check that file with given name was sent as a part of request. Worst case scenario, if that is for some reason not possible to check easily - at least it shouldn't fail with error :)

[2018-01-02 20:11] idanto commented on #10
Hi @igor-savin-ht ,

TBH, I don't use multipart/data-form so the package doesn't support it, but I added a suggested solution in merge request #16  - the solution is based on the use of `express/multer` package as a request parser and it validates both required and optional file names using ajv custom keyword that I created.

Feel free to comment and suggest better solutions or improvements.

[2018-01-02 20:23] igor-savin-ht commented on #10
Thank you very much! I'll make sure to give it a good hard testing after it is merged :D

[2018-01-02 20:35] idanto commented on #10
You can test it even if it is still in a branch using this link in `npm install` command:
https://github.com/idanto/express-ajv-swagger-validation.git#support-multipart-form-data

[2018-01-02 20:43] igor-savin-ht commented on #10
Cool, will try it out tomorrow, it's 22:42 here, a bit too late to fire up IDE :D

[2018-01-03 08:20] idanto commented on #10
Released in v0.4.0

[2018-01-03 08:20] #10 closed

[2018-01-03 09:03] igor-savin-ht commented on #10
Just tried new version out on our service, works like a charm, thanks!

[2018-01-08 17:43] igor-savin-ht opened #17 "Request content-type is not validated against 'consumes' field"
If Swagger specifies 'consumes' field for the service or the route, would be nice if express-ajv-swagger-validaiton library would use this data to check if data was sent of appropriate type.

[2018-01-08 18:06] igor-savin-ht commented on #17
Clarification: requests still seem to fail due to wrong data structure, but getting proper error about content-type being wrong would be more useful.
I've created a test for this case in linked PR.

[2018-01-10 15:01] idanto commented on #17
Thanks @igor-savin-ht.

Do you think that validating the content-type header vault against the `consumes` filed in the swagger will be good enough?

[2018-01-10 15:25] igor-savin-ht commented on #17
@idanto Yeah, that would be perfect.

[2018-01-14 21:34] kibertoad opened #19 "Option to enable type coercion"
Ajv supports type coercion for automatic conversion e. g. from String to Number:

It would be extremely helpful if we would be able to enable this option from express-ajv-swagger-validation as well.

[2018-01-14 21:35] kibertoad commented on #19
@idanto Probably it would be even more future-proof if express-ajv-swagger-validation accepted ajvOptions parameter which would be passed to instantiated Ajv instance.

[2018-01-23 08:00] idanto commented on #19
released in v0.4.1

[2018-01-23 08:00] #19 closed

[2018-02-05 12:03] kibertoad opened #21 "Coercion doesn't work correctly due to Swagger 2.0 JSON Schema limitations"
Since Swagger 2.0 doesn't support specifying multiple types for a field (as JSON Schema does), it is not possible to correctly coerce numeric types as Ajv converts null integers into 0 if null is not one of possible types, and typically this is a very bad idea.

My suggestion is to provide slightly adjusted JSON schema to the Ajv for validation, using following rule: if property is not listed as r

[2018-02-06 14:18] kibertoad commented on #21
@idanto Any opinion on this?

[2018-02-13 09:58] igor-savin-ht commented on #21
@idanto ping?..

[2018-02-13 13:42] idanto commented on #21
Thanks @kibertoad.
Sorry for the late response, busy weeks...
You can add this functionality but please make it configurable and false by default for two reasons:
1. backward compatibility
2. personally I don't like when someone sends null in JSON I prefer it to not exist.

feel free to submit a pull request and I promise to review it as fast as possible.

[2018-02-13 15:48] igor-savin-ht commented on #21
@idanto Thanks for the response! Will try to do it in the next few days.

[2018-02-13 23:47] kibertoad commented on #21
@idanto Done! See https://github.com/idanto/express-ajv-swagger-validation/pull/22
BTW, what are the requirements for getting co-maintainer permissions on this project? Or you prefer to keep it a solo project?

[2018-02-22 09:20] gauravmittal1994 opened #23 "use strict issue in node 4.5.0"
Please add `'use strict'; `at the beginning of the following file

The Following error is thrown while requiring the module with node 4.5.0

[2018-02-22 09:58] igor-savin-ht commented on #23
Judging by travis.yml, Node 4 is not officially supported by this project.

Any particular reasons why it is not feasible to upgrade from Node 4 in your case which is going to be EOL soon?

[2018-02-22 10:59] kibertoad commented on #21
@idanto Any chance you could publish 0.5.0 version at some point? Also see question above :)

[2018-02-22 11:01] idanto commented on #21
already there :).

RE: co-maintainer permissions - I will add you soon.

[2018-02-22 11:01] #21 closed

[2018-02-22 11:03] igor-savin-ht commented on #21
Thanks!

[2018-03-10 09:28] idanto commented on #23
Hi @gauravmittal1994,

As @igor-savin-ht mention, node 4 is not supported by this package. I'm going to close this issue.
If you need any other help feel free to open another issue or reply here.

[2018-03-10 09:28] #23 closed

[2018-03-29 13:54] igor-savin-ht opened #30 "Validation fails to parse string formData"
If parameters look like this:

[code]

then express-ajv-swagger-validation fails during initialization:

(node:14192) UnhandledPromiseRejectionWarning: TypeError: Cannot set property 'username' of undefined
    at parameters.forEach.parameter (C:\sources\crm-api\api\node_modules\express-ajv-swagger-validation\src\middleware.js:278:41)
    at Array.forEach (<anonymous>)
    at buildParametersValida

[2018-05-09 17:27] kibertoad commented on #30
Fixed with #31

[2018-05-09 17:27] #30 closed

[2018-05-09 17:33] idanto commented on #30
released in version v0.6.2

[2018-05-10 06:07] idanto opened #32 "1.0.0"
This we should do before 1.0.0:
- Change the middleware loading to be synchronous
- Check for missing swagger features. for example, the use of patterns (regex) and probably some types
- support OpenAPI 3.0 - not sure it's a must.

@kibertoad feel free to add your thoughts

[2018-05-16 12:36] kibertoad commented on #32
OpenAPI 3.0 sounds more like 2.0.0 stuff since it will likely require further componentization of the code and will require quite a bit of effort.
Synchronous middleware loading is definitely nice, I'll look into this.
How do you suggest to approach investigating for missing swagger features?

I would also suggest doing as ES6 pass over code to use things like let/const, arrow functions etc (given

[2018-05-29 13:53] idanto commented on #32
I agree with you about the OpenAPI 3.0 and it will be great to do the alignment for ES6 syntax.

An approach to investigating missing swagger features is a good question.
I would search around:
1. [Supported data types](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types)
2. [Validation for parameters](https://github.com/OAI/OpenAPI-Specification/blob/master/version

[2018-07-11 16:27] kibertoad opened #34 "OpenAPI 3.0 support"
An approach to investigating missing swagger features is a good question.
Suggested reading:
1. [Supported data types](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types)
2. [Validation for parameters](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object)
3. [Security Defenitions](https://github.com/OAI/OpenAPI-Specification/blo

[2018-09-28 13:01] kibertoad opened #36 "Passing explicit path to middleware instance"
Currently middleware itself is responsible for determining path that is currently being accessed (`let path = req.baseUrl.concat(req.route.path);`). It would be helpful to be able to attach middleware to specific endpoints with predefined swagger path already filled during instantiation.

This is useful for Google Cloud Functions: while they seem to use Express under the hood and in general suppor

[2018-09-28 13:02] kibertoad commented on #36
@idanto I could work on this if you think that it makes sense.

[2018-10-04 06:43] idanto commented on #36
@kibertoad sure, I would love to add this feature to the package.
if you do that, please also think about an option to enable validation only for specific routes in the current way we configure it.

[2018-10-04 08:59] kibertoad commented on #36
@idanto But current way is middleware per-route already; why can't user simply comment out or delete middleware for that particular route?

[2018-10-07 05:58] idanto commented on #36
right, haven't thought about it like that. It was more like reading specific routes from the swagger file and not all of them but it's less critical.

feel free to go ahead with just your use case.

[2018-12-20 20:55] theogravity opened #37 "Better array type support for params"
I have the following definition:

[code]

The validator only seems to check that the parameter is present, but will not check if it is empty or if the number of items matches.

[2019-01-08 17:38] invalidred opened #38 "Create a synchronous version of init function"
Currently the `init` function is `async`. I have a use case where I have the swagger file as JSON in memory. I would like to feed that in to the init function and make it synchronous.

[code]

I am finding the `async` version of `init` to be unnecessary and makes adding the validation lib to existing code base much harder.

[2019-02-18 09:19] omer182 opened #43 "[BUG] - OpenAPI 3.0 - fix mandatory validation for get body"
Every GET request in openAPI 3 is being validated for its requestBody. therefore the validator fails when trying to validate the requestBody of a get request which is undefined.\

line failing:
`const bodySchemaV3 = dereferenced.paths[currentPath][currentMethod].requestBody.content['application/json'].schema;`

[2019-02-22 04:36] hehoo opened #45 "Expose an API or option so that it is possible to add custom keywords"
It seems like this middleware didn't expose either an API or option that we are able to add custom keywords during the initialisation. Is it a good idea to add it on? See https://ajv.js.org/custom.html#define-keyword-with-validation-function for more info about custom keywords in ajv

[2019-02-22 07:04] idanto commented on #34
So now that we have support in openAPI 3.0, would you like to do some of those tests? @kibertoad

[2019-02-22 07:06] idanto commented on #45
This is a great idea! we would accept a PR with those additions 😃 @hehoo

[2019-02-22 08:07] kibertoad commented on #34
Sure!

[2019-02-24 08:09] idanto commented on #43
resolved #44

[2019-02-24 08:09] #43 closed

[2019-02-25 22:34] hehoo commented on #45
@idanto do you have any documentation or design material that can make me quickly familiar with this whole project?

[2019-02-26 09:45] idanto commented on #45
@hehoo not really 🙈 Maybe we should write one, I always thought it's a small and simple project but since the koa and OpenAPI 3.0 support it kinda becomes bigger...

But in the meanwhile feel free to ask here any question you have or we can even use slack to communicate if you would like to

[2019-03-05 13:31] #45 closed

[2019-03-05 13:36] idanto commented on #45
you can find this addition in version 0.9.0, thanks for the contribution @hehoo

[2019-03-05 22:11] kobik opened #48 "Add types file to exported object"

[2019-03-11 05:49] #48 closed

[2019-03-19 16:09] philsturgeon opened #58 "Renaming to express-openapi-validation"
Hey, I think the name `express-openapi-validation` would be much more fitting from this project. Since the name change from OpenAPI to Swagger 3 and a bit years ago, the word Swagger is only referring to tools by SmartBear, and it causes a lot of confusion in the community to have folks keep calling everything Swagger when that is no longer the name.

Also, it's great that you're using AJV under t

[2019-04-01 19:15] thomas4019 opened #61 "Parameters with schema not used (OpenAPI 3.0)"
In [version 3.0](https://swagger.io/docs/specification/describing-parameters/), it looks like you put the schema for a parameter under the **schema** field. The code in buildParametersValidation doesn't seem to look there yet.

I can file a PR with a fix and test if this is a real issue. Thanks!

[2019-04-02 18:42] kobik commented on #61
Hi @thomas4019,

Nice find and thanks for your feedback!

We've already extracted the OpenAPI validation logic to https://github.com/Zooz/api-schema-builder and we intend to use it as a package in _express-ajv-swagger-validation_, as you can see in #54

You're more than welcome to issue a PR in _api-schema-builder_.

Thanks

[2019-04-12 13:53] kibertoad opened #62 "More flexible path resolution with regards to path parameters"
Currently validator will fail to resolve correct schema if request route is resolved as `/users/:userId` and specification has route `/users/:user_id`.

Since it is not really important for router variable names to match the ones in specification, we should compare path just on the basis of having variable there, ignoring its name completely.

[2019-04-12 14:01] kibertoad opened #63 "Support passing error response formatting function"
It would be useful to have possibility to customize responses generated in case validation fails.

[2019-04-15 05:45] #61 closed

[2019-04-15 05:45] idanto commented on #63
nice suggestion, I like it :)

[2019-04-15 05:53] idanto commented on #34
I think we can move this list to [api-schema-builder](https://github.com/Zooz/api-schema-builder) cause we get the support from the extracted package.

[2019-06-15 18:12] #63 closed

[2019-06-16 03:59] kobik commented on #32
i believe that everything described by you two so far, besides sync init shouldn't require a new major release.

i actually see it more like a roadmap.

[2019-06-16 04:06] kobik opened #70 "Init the middleware with the required openapi formats"
Currently in order to support openapi formats which are part of the standard and are not supported by ajv, we required to pass them explicitly when calling init function. otherwise, we'll get an exception when a definitions file with these formats is passed to the middleware.

My proposal is to init the middleware with these formats by default.

[2019-06-16 08:45] kibertoad commented on #70
Can you provide a list of these formats?

[2019-06-16 08:47] kibertoad commented on #32
I agree, it was more of a brainstorm regarding what this library needs to be feature-complete, rather than hard prereq.

[2019-06-16 08:51] kibertoad commented on #34
@idanto Makes sense!

[2019-06-16 08:53] kibertoad commented on #34
Moved to https://github.com/Zooz/api-schema-builder/issues/23

[2019-06-16 08:53] #34 closed

[2019-06-16 08:54] kibertoad commented on #58
Considering that it's not just Express anymore, probably something along the lines of 'openapi-validation' would be even better :D

[2019-06-17 04:57] kobik opened #71 "Exclude irrelevant files from package and source control"
Currently, `npm publish` publishes also test files, history files and more.

Using `files` prop in package.json file we can whitelist only the required files

[2019-06-17 05:45] #71 closed

[2019-06-30 05:30] #62 closed

[2019-07-12 01:00] clemens-smartparking opened #80 "Allow json schema object as init parameter (TypeScript)"
Instead of a yaml file I only have a json swagger document object. When digging into the code I figured out that I can pass the document to the init method as follows:
[code]
Is it possible to change the init signature (TypeScript) to allow objects as well?

[2019-07-12 01:07] clemens-smartparking opened #81 "Use express-ajv-swagger-validation in middleware"
I am using nestjs and I use the express-ajv-swagger-validation in the middleware (couldn't figure out how to do it otherwise in nestjs and I don't need routes).

I got a crash when calling `swaggerValidator.validate(req, res, next)` which I fixed by manually adding the route object to the request object:
[code]

[2019-07-16 05:42] idanto commented on #81
I think the biggest challenge using `req.path` is the fact it might contain variables which can cause Prometheus issues if we will publish a lot of different labels for the same time series, this is why we choose to use `req.route`.

If you have a specific example and suggestion of how to overcome this please share some examples.

[2019-07-16 06:12] idanto commented on #81
I think this is a very simple API use case that we probably missed, you are welcome to create a PR with this fix :)

[2019-07-17 20:10] #38 closed

[2019-07-22 18:51] aryehb commented on #70
Formats for type `number` ([source](https://swagger.io/docs/specification/data-models/data-types/#numbers)) (some of these are mentioned in the [README](https://github.com/Zooz/express-ajv-swagger-validation#options)):
* float
* double
* int32
* int64

Formats for type `string` ([source](https://swagger.io/docs/specification/data-models/data-types/#string)):
* date
* date-time
* password
* byte
*

[2019-08-08 16:12] kobik opened #86 "Missing function definition wheb used as Koa middleware"
Currently `validate` function is defined as follows
[code]

When using TypeScript and Koa, vscode displays an error as Koa middleware should be defined as follows
[code]

[2019-08-13 07:30] DFaiz opened #88 "Float type is not supported"
When using 'float' format in Swagger schema, the package fails to parse the Swagger file.

Generating the following error:

`Encountered an error during start up: Error: unknown format \"float\" is used in schema at path \"#/properties/properties/currency_conversion/properties/fx_quote/properties/fx_rate\"\n    at Object.generate_format [as code] (/home/app/node_modules/ajv/lib/dotjs/format.js:69:

[2019-08-13 07:32] kibertoad commented on #88
Are you sure it's a valid type for OpenAPI?
See https://swagger.io/docs/specification/data-models/data-types/

[2019-08-13 07:34] DFaiz commented on #88
float does appear there, right next to 'double'.

[2019-08-13 09:59] kibertoad commented on #88
Can you share fragment of spec that is causing problem for you?

[2019-08-15 10:29] #86 closed

[2019-08-27 12:29] kerenfi opened #91 "Additional properties parameter is not shown in validation error"
Experience: The error message is not descriptive when using flag `additionalProperties: false`, which avoids adding attributes which are not part of the described schema.

Current behavior: error message contains the message without the parameters.
`body should NOT have additional properties `

Expected behavior: `body should NOT have additional properties [<param>]`

[2019-08-27 14:36] #91 closed

[2019-09-03 08:24] philsturgeon commented on #58
@kobik hey, congratulations on v1.0 but it looks like this issue was missed?

[2019-09-03 12:25] kobik commented on #58
Thanks a lot @philsturgeon for the PR!

We've decided to postpone it to the next major release.

In order to pull this out correctly, I believe that the way to rename the package should go like that
1. Rename github project name in order to preserve all history
2. Fork it to the old project name
3. Change package name references in source code
4. Publish under the new name
5. Add deprecation messa

[2019-09-03 12:28] kibertoad commented on #88
@DFaiz Ping? Could you please share part of your specification that results in error?

[2019-09-03 15:44] philsturgeon commented on #58
That’ll do the trick nicely.

[2019-09-05 15:08] kobik commented on #88
This is a duplicate of #70

[2019-09-05 15:13] kobik commented on #80
Hi @clemens-smartparking, thanks for your feedback!

This is an indeed requested feature so we'll try to find some time for it, but PRs are always welcome :)

[2019-09-06 09:59] Fillosof opened #95 "Error with external $ref pointers in open api 3"
Hi guys.
Recently update from 'swagger 2.0' to 'open api 3'
I used external $ref pointers in my swagger file like this:
[code]
For 'swagger 2.0' it's working perfectly fine but for 'open api 3' it throws an error
[code]
It began working if we change $ref to this style:
[code]

But this is nonconventional use of the $ref that doesn't support by the other libraries.

Is there any solutions for this

[2019-09-06 11:15] kobik commented on #95
Hi @Fillosof,

Thanks for reporting the problem.

Can you please provide the stack of the error and also if possible  definition files for reproducing the problem.

[2019-09-06 11:25] Fillosof commented on #95
Thank you @kobik for the quick answer.
Here Error stack:
[code]
and swagger files: [link](https://drive.google.com/file/d/1Gacf97fEnfgFQw2fB24rCfD6cqQEo2QG/view?usp=sharing)

[2019-09-06 18:33] kobik commented on #95
Thanks @Fillosof, the error is coming from `json-schema-deref-sync`.

I'll investigate this further.

[2019-09-07 11:36] kobik commented on #70
I've prepared a fix in https://github.com/Zooz/api-schema-builder/pull/37 which awaits for review, to finally handle this issue.

[2019-09-07 11:40] kobik commented on #80
I've prepared a fix in https://github.com/Zooz/api-schema-builder/pull/35 which awaits for review, to finally handle this issue.

After it's merged and release, i'll update `express-ajv-swagger-validation` as well.

[2019-09-07 12:34] kobik commented on #95
@Fillosof are you sure it's working with OIA2?
Do you mean, that you've being using the same document, just in OIA2 format?

From what I see the problem is even bigger as `json-schema-deref-sync` supports loading only refs to json files and not yaml ones.
This would require us to rethink of how to handle dereferencing properly.

[2019-09-07 21:31] #70 closed

[2019-09-07 21:31] #80 closed

[2019-09-07 21:31] #88 closed

[2019-09-09 07:10] Fillosof commented on #95
I think issue somewhere in the parser.
[Here](https://drive.google.com/file/d/1jB4mQcufssxfCAOZIjJWom5kq2WSCkPj/view?usp=sharing) old `swagger 2.0` files

[2019-09-10 14:03] kobik commented on #95
It is indeed `json-schema-deref-sync` not handling yaml files.
You can see the issue I've opened [here](https://github.com/cvent/json-schema-deref-sync/issues/28) and the PR for fixing this issue [here](https://github.com/cvent/json-schema-deref-sync/pull/27), although I'm not sure the maintainer would like to add this functionality.

[2019-09-10 14:38] Fillosof commented on #95
Thank you @kobik
Then all its left is to pray and believe in a bright future.
Because in another case I need precompile swagger file, and its make it 4x bigger, thats slow down startup time by 2-3 sec.((((

[2019-09-11 00:45] superliuwr commented on #95
Hi @kobik @Fillosof, it appears you have found the root cause and thanks for the effort. Just want to let you know I had the same issue after upgrading to `1.0.8` but it worked well with `0.9.0`.

[2019-09-11 09:13] Fillosof commented on #95
@superliuwr Thanks man, you save my day))))

[2019-09-15 18:30] kobik commented on #95
@Fillosof, until my fix gets merged, you can achieve nullable like behavior by adding null to the supported types of the property.

[code]

[2019-09-19 18:41] kobik commented on #95
Quick update,
Waiting for json-schema-deref-sync devs to publish a new version with my fix.
In the meanwhile I've prepared a PR in [api-schema-builder](https://github.com/Zooz/api-schema-builder/pull/38).

[2019-09-22 15:55] Fillosof commented on #95
@kobik Thank You, now I had a hope to clear a mess, that I created to make it work

[2019-10-01 18:34] philsturgeon commented on #95
If you'd like a better json ref resolver, we've got a fantastic one over at [stoplightio/json-ref-resolver](https://github.com/stoplightio/json-ref-resolver).

It's powering everything throughout [Studio](https://stoplight.io/studio/), [Prism](https://stoplight.io/prism/), [Spectral](https://stoplight.io/spectral), etc., and is as performant as it is powerful.

[2019-10-14 17:09] SWheeler17 opened #97 "Beautify Errors, does not beautify"
I am struggling to beautify my errors without editing the code directly. I was able to accomplish my goal by changing line 51 in middleware.js from:
`return Promise.resolve(error);`
to:
`return Promise.resolve(error.errors);`
However, I should not have to do this manually to receive the beautified error. Is there any way to receive the error other than modifying the code?

[2019-10-14 17:13] kibertoad commented on #97
Can't you use `errorFormatter` param to format them exactly as you need them?

[2019-10-15 16:03] SWheeler17 commented on #97
Thank you I did not understand the purpose of `errorFormatter`, until looking at the documentation further.

[2019-10-15 16:03] #97 closed

[2019-11-02 18:25] catadch opened #98 "Default values"
I need a validator that inserts default values in the request body AND honors with discriminators, yours does the latter, but not the former. I have found others that are the other way around.

Am I doing something wrong, or is it a know issue that this package does not insert default values from the schema?

[2019-11-02 18:38] catadch commented on #98
My init is this, btw:
swaggerValidation.init('./api/openapi.yaml', {
    ajvConfigParams: { useDefaults: true },
    ajvConfigBody: { useDefaults: true }
  }
);

[2019-11-02 18:38] kibertoad commented on #98
It is supported, but you need custom ajv configuration for that. See https://github.com/Zooz/express-ajv-swagger-validation/blob/master/test/express/test-simple-server-with-coercion.js for an example.

[2019-11-02 18:55] catadch commented on #98
Thanks kibertoad - looks like I'm doing the right thing by passing on useDefaults to ajv, but still no joy. An example of a not used default from my schema is:
[code]
express-openapi-validator also uses ajv and inserts this and other defaults ok, but does not support discriminators.

[2019-11-02 20:07] catadch commented on #98
Ok. Done some testing.

If I modify the schema so the Pet type is this:
[code]
And create an extra test in test/express/middleware-test.js
[code]
The "tag" value shoud be defaulted to 'Taggy McTagface', but it isn't, instead we get:
`    Uncaught AssertionError: expected undefined to equal 'Taggy McTagface'`

As an aside, as 'tag' is now required, this test should fail with a 400.

[2019-11-18 19:20] auahmed opened #99 "error code 400 or 422"
currently if the schema does not match the error thrown is a 500 series which is not the best.
500 is server based errors while a schema error is a 400 or 422.

Or is there a way using the errorFormatter that we can update the status code?

[2019-11-18 19:47] auahmed commented on #99
not an issue

[2019-11-18 19:47] #99 closed

[2019-12-31 07:22] kobik commented on #95
Fixed https://github.com/Zooz/express-ajv-swagger-validation/pull/103

[2019-12-31 07:22] #95 closed

[2020-01-08 16:10] erichwelz opened #104 "Throws error when a definition refers to self"
Given the schema below, `swaggerValidator.init` throws `Cannot convert undefined or null to object`

I believe the OAS 2.0 spec allows definitions to self-reference.

[code]

[2020-02-08 21:29] holitics opened #105 "Validator does not seem to validate against OpenAPI 3.0 schema"
If I specify the "basePath" parameter (from v2) in my schema, it will validate correctly (but then my schema is not valid according to the OpenAPI 3.x specification). If I remove the "basePath" parameter from the schema, it will not validate. If I add the "servers" parameter with the url value according to OpenAPI 3.0, it seems to ignore it and will not validate.

e.g. (this works):

e.g. (this do

[2020-02-09 07:01] kobik commented on #105
Hi @holitics,

Thanks for reporting this.
Just to make sure I understand, you expect the package to validate your schema when loading?

[2020-02-09 15:04] holitics commented on #105
Hi Kobi,

When the request is being processed. I am expecting the request to be
rejected if not validated against the schema.

On Sun, Feb 9, 2020, 02:01 Kobi Carmeli <notifications@github.com> wrote:

[2020-02-29 00:24] mmacai opened #106 "Express multer with openapi 3"
Hi, I want to use openapi/swagger version 3 and I have couple of endpoints using `multipart/form-data`.

Not sure if this is a bug or I'm doing something wrong.

My setup:

[code]

Swagger:

[code]

Getting this error:

[code]

Checked the source code and in `src/middleware.js` -> `_validateBody` is this `const validator = methodSchema.body[contentType] || methodSchema.body;`. So it's using `conte

[2020-02-29 00:31] kibertoad commented on #106
@mmacai Yeah, this is an edge-case that is not handled correctly now.

Take a look at this PR: https://github.com/Zooz/api-schema-builder/pull/29/files (api-schema-builder is a dependency for express-ajv-swagger-validation)
Probably we need same thing for request validation as well. If you can submit a PR with test for this, I would be more than happy to review.

[2020-02-29 09:25] mmacai commented on #106
@kibertoad sure, I'll put something together.

[2020-03-01 11:24] mmacai commented on #106
@kibertoad The change should be in this library or `api-schema-builder`? Going through `api-schema-builder` codebase and I'm a bit lost.

[2020-03-17 17:47] tamlyn commented on #105
I have encountered the same bug.

The problem is that the `api-schema-builder` package support's Swagger 2's `basepath` property but not OpenAPI 3's equivalent `servers` property. This means if your API has a base path, the request paths don't match and no validation occurs.

Here's a naive fix that only works if you have a single entry in your `servers` (which is our case). A proper solution woul

[2020-03-19 07:37] #106 closed

[2020-04-13 09:57] kobik commented on #105
Hi guys, sorry for missing your answers.

@tamlyn, i guess you're referring to a subset of the issue reported by @holitics, but anyway PR are more than welcomed.

@holitics, this behavior can be made configurable. but we need to think carefully on this feature as we might want to allow blacklist or whitelist specific endpoints in this validation.

[2020-04-13 09:58] kobik commented on #104
Thanks for reporting @erichwelz.

I'll have a look at this.

[2020-04-13 10:37] kobik commented on #58
@kibertoad, @idanto  @philsturgeon, going to rename the package to `openapi-validation-middleware` if there are no objections according the process described above.

[2020-04-13 10:38] kibertoad commented on #58
Would be amazing!

[2020-04-13 10:50] philsturgeon commented on #58
Yes please!

[2020-04-13 13:10] kobik commented on #58
Please review https://github.com/PayU/openapi-validator-middleware/pull/114

[2020-04-13 14:17] #58 closed

[2020-04-14 21:55] manwithsteelnerves opened #116 "Performance problem"
Currently it's taking around 1.2 seconds to load the module. Any way to get better loading times?

![Screenshot 2020-04-15 at 3 21 53 AM](https://user-images.githubusercontent.com/5437614/79278132-c0b70400-7ec8-11ea-8b64-cb0b89d8167a.png)

[2020-04-14 22:13] kibertoad commented on #116
Wonder what takes so long. Which Node version are you using? About the only type of logic executed on import that is not import that I see is this:

[code]

`object.values` shim itself is also already executing some launch on import, so that makes it a culprit.

[2020-04-14 22:17] kibertoad commented on #116
https://github.com/PayU/api-schema-builder/pull/45/files removes dependency on core-js, so I think that would help.

[2020-04-15 05:36] manwithsteelnerves commented on #116
I'm on Node 8 + firebase functions setup.

[2020-04-15 05:40] manwithsteelnerves commented on #116
And also will be waiting for the update to get approved. Can't wait to test it :)

[2020-04-21 17:26] manwithsteelnerves opened #119 "Unable to catch the error"
I'm currently using it with google cloud functions + express setup.
Surprisingly, I'm unable to capture the error on validation failure.

I'm using validate at the router path and wondering if anyway I can debug this.

[2020-04-21 17:35] kibertoad commented on #119
@manwithsteelnerves Did you define custom error handler for your app? Error should bubble up there.

[2020-04-21 17:42] manwithsteelnerves commented on #119
Yes, I have custom handler. I see the error thrown up from the middleware too. But strange this is it's not getting caught nor giving a warning about uncaught promises are not valid.

[2020-04-21 17:43] kibertoad commented on #119
Then something is swallowing it. Do other errors bubble up correctly in GCF?

[2020-04-21 17:44] kibertoad commented on #119
Probably debugging it in something like WebStorm would be the easiest way to get down to the bottom of what is going on

[2020-04-21 17:51] manwithsteelnerves commented on #119
"Then something is swallowing it. Do other errors bubble up correctly in GCF?" - Yes the errors I throw manually does get caught fine. But only from this middleware i'm not able to.

[2020-04-21 18:00] manwithsteelnerves opened #120 "Handling different baseUrl when using firebase functions"
When using firebase functions, the baseUrl is pre-fixed with the region+function name and this is dynamically added at the time of launching the cloud function.

Is there any way to handle without modifying the input spec baseUrl?

`    const path = req.baseUrl.concat(req.route.path);`

The above code is not matching the path that was added in the spec. As we maintain different environments during

[2020-04-21 18:50] manwithsteelnerves commented on #120
Ok, I got a work around and surprisingly the uncaught error too got resolved. I'm not sure returning the function with in validate is right or not but would like to seek an advice.

`
import  * as validatorApi   from    'openapi-validator-middleware';
import { InputValidationError } from 'openapi-validator-middleware';
const ajvOptions = {
    beautifyErrors: true,
    firstError : true,
    ajvCo

[2020-04-22 18:41] #105 closed

[2020-04-24 07:19] manwithsteelnerves commented on #119
Ok, I got a work around. I'm not sure why wrapping the validate function made it work. But, would like to seek an advice.

[code]

And this is how I call validate
[code]

[2020-04-24 07:19] #119 closed

[2020-04-28 18:27] tamlyn opened #122 "Clarification of OpenAPI 3 known issues"
Is the implication of this that the provided [discriminator-on-child](https://github.com/PayU/openapi-validator-middleware/blob/master/test/openapi3/pets.yaml#L406) example will not work under OpenAPI 3?

[2020-04-30 09:58] kobik commented on #122
@tamlyn yes, i believe so.

it's a limitation of api-shcema-builder we rely on when parsing definitions file and should be addressed there.

[2020-05-01 00:03] IMBurbank opened #124 "Upgrade Dependency api-schema-builder to 2.0"
`api-schema-builder` is now [2.0](https://github.com/PayU/api-schema-builder/releases). Breaking changes are [minimal](https://github.com/PayU/api-schema-builder/blob/master/CHANGELOG.md).

This would help with a lot of the old packages in the dependency chain including, among other things, old core-js v2 module.

Primary benefit - from change-log:

[2020-05-01 00:05] kibertoad commented on #124
well...
#121

[2020-05-01 00:05] kibertoad commented on #116
@manwithsteelnerves Could you try version from https://github.com/PayU/openapi-validator-middleware/pull/121 and see if it makes any difference?

[2020-05-01 00:07] IMBurbank commented on #124
@kibertoad I missed the api-schema-builder in that pr. This will certainly do it once merged.

Thank you very much for you work on that.

[2020-05-01 00:17] kibertoad commented on #124
You are welcome!

[2020-05-01 23:45] kibertoad commented on #124
Released in 3.0.0

[2020-05-01 23:45] #124 closed

[2020-05-01 23:45] kibertoad commented on #116
Released in 3.0.0
@manwithsteelnerves Can you profile the new version and check the difference?

[2020-05-04 09:51] tamlyn commented on #122
Thanks. I didn't understand what that meant until I came across the problem myself. It's annoying to discover this limitation only after investing several days of effort into it.

I'm going to leave this open a bit longer in the hope that it will encourage me to submit a PR that clarifies the wording.

[2020-05-12 14:29] hpl002 opened #125 "Make it optional to add basurl to path in _getParameters - Express"
would it be possible to make the concat optional based on prop form options obj?

using this with routing and would have to append basePath to all paths in schema for paths to match, could avoid this if it was possible to avoid baseurl.

my routes go via /api, but paths in schema do not have this prefixed, thus causing a mismatch that results in the request not being validated.

Req points to **/a

[2020-05-12 15:34] kibertoad commented on #125
What do you have baseUrl for in this case? Swagger spec explicitly says: `All API endpoints are relative to the base URL`, so if your spec is structured otherwise, you are in a violation of spec.

[2020-05-12 15:36] kibertoad commented on #125
@hpl002 Wait, it should be the other way around. You can add `api/` as baseUrl in your spec and it will be concatted automatically when doing the matching.

Would be easier to understand situation if you shared (potentially with scrambled names) relevant fragments of your spec.

[2020-05-12 19:09] hpl002 commented on #125
Thanks for getting back to me.

Here is a derivative of your [pets.yaml spec](https://github.com/PayU/openapi-validator-middleware/blob/master/test/openapi3/pets.yaml)

[code]

if have to set basepath for use with my other middleware. This creates a conflict when calling
`const methodSchema = schemaEndpointResolver.getMethodSchema(schemas, path, method)` paths in schemas and path do not align, thu

[2020-05-12 20:25] kibertoad commented on #125
And when you change server to
[code]

that doesn't help/

[2020-05-13 07:18] hpl002 commented on #125
No,still same result.

Did however bypass this by just forecefully setting the baseurl to nothing before sending it in. Works, but not ideal..

[2020-05-14 08:54] manwithsteelnerves commented on #116
I used 3.0 and see the performance not better than previous but unfortunately, bad.
I will do more tests, but meanwhile please check the trace screenshot. It took 4secs to load.
![Screenshot 2020-05-14 at 2 22 25 PM](https://user-images.githubusercontent.com/5437614/81914177-93a46100-95ee-11ea-8dd2-db6c0ba28c46.png)

[2020-05-14 10:03] manwithsteelnerves commented on #116
Also, in the above test, I was just referring InputValidationError type alone. Anyway to refer that type alone and not load the complete module?

[2020-05-14 11:17] manwithsteelnerves commented on #116
Here are few more tests where it took 1.87secs which I see is more consistent after several tests.
If there is a way to switch off v3 spec check, it would be great as we can squeeze some performance. Currently we are using swagger v2 but its still loading v3 which accounts for 700+ms.
Please suggest.

![Screenshot 2020-05-14 at 4 42 56 PM](https://user-images.githubusercontent.com/5437614/81928187

[2020-05-14 11:49] kibertoad commented on #116
Should be possible to short-circuit that. Will investigate. I'm curious, what is your use-case? Why optimize for startup speed?

[2020-05-14 14:04] manwithsteelnerves commented on #116
I'm using it in server-less functions. To be specific, Firebase cloud functions. Unfortunately there is no idle time defined for instances which spin up. This makes it a requirement that the loading is faster as this loading time is there for nearly every request on an average.

[2020-05-15 03:06] manwithsteelnerves commented on #62
@kibertoad Can you please confirm if this is resolved? I noticed still its dependent on the parameter name format.

[2020-05-15 11:40] kobik commented on #122
@tamlyn, now you made me waiting for your PR 🙂

[2020-05-15 11:41] kobik commented on #116
@manwithsteelnerves , can you share your definition file?

[2020-05-15 15:12] manwithsteelnerves commented on #116
[Here](https://drive.google.com/file/d/19wZbo44ZIJQlvXq_3rRsJw3I503ANV5y/view?usp=sharing) is the schema.

[2020-05-16 08:08] manwithsteelnerves commented on #116
@kobik  Do you see anything wrong with the spec?

[2020-05-16 09:35] kobik commented on #116
I'll have a look tomorrow

[2020-05-19 21:10] manwithsteelnerves commented on #116
@kobik If I split the json, will it be of any help?

[2020-06-11 13:19] hpl002 commented on #125
Feel free to close the issue is you're not planning to address it further. Forcefully setting the baseUrl works..

[2020-06-11 13:32] kibertoad commented on #125
no-no, I still need to look into it

[2020-06-11 16:39] severo opened #128 "Add type-safety"
Since it's possible to generate typescript definitions from an OpenAPI specification (ie with https://www.npmjs.com/package/dtsgenerator), I wonder if it would be possible to implement type safety between the validator middleware and the following middlewares.

For example, dtsgenerator would transform https://github.com/PayU/openapi-validator-middleware/blob/master/test/pet-store-swagger.yaml to

[2020-06-11 16:41] severo commented on #128
See also https://federicoferoldi.com/2017/12/28/using-the-typescript-type-system-to-validate-express-handlers.html that applies that idea.

[2020-06-24 09:52] kobik commented on #116
Hi @manwithsteelnerves , i'm very sorry for the late response.

I'm on it now.

[2020-06-24 12:18] kobik commented on #116
according to my measurements:
* require dependencies ~150-170ms
* dereferencing: ~50-60ms
* building validations: ~560-600ms
building validations per api takes between ~16-90ms, while most of the time is spent on building the response validation. i'll continue investigation and break the fixes into several PRs.

[2020-06-25 06:06] kobik commented on #116
@manwithsteelnerves would you mind testing the beta version?

i did some optimizations of the require statements and i'd like see if it's making things better for you.

[2020-06-25 17:21] manwithsteelnerves commented on #116
Sure! Happy to do that :)

[2020-06-25 18:25] kobik commented on #116
So your actual schemas are much smaller? Can you share an example of a real schema you're using?

[2020-07-02 07:15] manwithsteelnerves commented on #116
Sorry! I missed your comment!

Yes, the schema size now is per endpoint and I will be loading at runtime every time the endpoint is triggered.
Please check the schema [here](https://drive.google.com/file/d/1RiX4V2P5EVDE61mViTbg1_WOWIWeQK2L/view?usp=sharing).

[2020-07-02 09:23] manwithsteelnerves commented on #116
@kobik  May I know how to download the latest version to profile?

[2020-07-02 09:28] kibertoad commented on #116
@manwithsteelnerves Judging by what I see on npm, I believe 3.0.0-beta.0 is it.

[2020-07-02 12:04] manwithsteelnerves commented on #116
I saw it but wanted a confirmation. Let me try that!

[2020-07-02 12:18] kibertoad commented on #116
@manwithsteelnerves https://github.com/PayU/api-schema-builder/pull/54

[2020-07-02 17:05] manwithsteelnerves commented on #116
Hi,
Here are the details.
I reverted to single load and one schema as I see it better as on every endpoint loading I see nearly 300ms of processing time and it can't be cached as the same endpoint won't be hit in the same cloud function instance, very unlikely.

So I have the old setup only to continue our comparisons.
I see it took around 1.14 secs to load the schema. I need to inform that its be

[2020-07-13 03:57] manwithsteelnerves commented on #116
Initialisation takes 6.3 seconds now post update. I'm not sure why my earlier numbers were different from now. But, I see it now  6 seconds for the schema I shared with you last time.

Any suggestions for profiling further?

[2020-07-30 12:49] shahar240 opened #134 "Throws error when a schema contains reference to external file"
since opening schema allows added references to external files over HTTP with $ref the validator should allow loading schemes that use this feature.

currently the init function throws "TypeError: Cannot convert undefined or null to object" if the schema contains external references.

this can be solved by adding async init function that use "apiSchemaBuilder.buildSchema"
instead of "apiSchemaBuil

[2020-08-09 14:31] shahar240 commented on #134
fixed in  2e61a72 by adding initAsync

[2020-08-09 14:31] #134 closed

[2020-08-11 05:24] youngerjo opened #136 "Support for AWS Lambda HTTP event"
Hello, I'm really excited to find this project.
I'm working on my [Serverless framework](https://www.serverless.com/) project with OpenAPI features like documentations, API discoveries and etc. By the way I want to use this middleware as a request/response validator of AWS Lambda HTTP event but the project seems not supporting it for now. Do you have any plans to support AWS Lambda as a new framew

[2020-09-01 15:35] hpl002 opened #138 "Support for remote references"
Does the middleware support remote references, as allowed by the official spec: <https://swagger.io/docs/specification/using-ref/>

    The element of the document located in the same folder – $ref: 'document.json#/myElement'
    The element of the document located in the parent folder – $ref: '../document.json#/myElement'
    The element of the document located in another folder – $ref: '../anoth

[2020-09-02 06:02] kobik commented on #138
Hi @hpl002.

It should be supported when calling [initAsync](https://github.com/PayU/openapi-validator-middleware#openapi-validator-middlewareinitasyncpathtoswaggerfile-options) instead of [init](https://github.com/PayU/openapi-validator-middleware#openapi-validator-middlewareinitpathtoswaggerfile-options).

[2020-09-02 06:05] kobik commented on #116
@manwithsteelnerves , i'm not sure what else we do here.

Can you try using `initAsync` instead of `init` and report with your findings?

[2020-09-02 06:13] kobik commented on #116
I actually had another idea I've toyed with in my mind, is caching of the validation object.

allow to create from a definitions file and export the validation object to a file.

then init the middileware by giving it the exported validation object file.

do you thing it would be an acceptable solution?

[2020-09-02 06:17] kobik commented on #128
Thanks @severo, this is an interesting idea!

This is something that should be exposed from api-shema-builder, as this is the package that is responsible for parsing the definitions file.

We'll try to see what we can do when we'll have the time, but of course PRs are always welcome.

[2020-09-02 09:52] manwithsteelnerves commented on #116
Just to be on the same page, can you share more details about it?
Is it like an intermediate format which extracts the required data from schema and have it in compact format?

[2020-09-03 20:07] kobik commented on #116
It's like creating and committing a "compiled" version of the definitions file and use it instead of the definitions file for a faster loading times.

This is just an idea that we need to see if it's even a feasible plan.

But first I'd like to hear what you think of this idea and second I'd still appreciate if you'd test the asyncInit.

Thanks

[2020-09-07 10:49] manwithsteelnerves commented on #116
Thats a nice one. Most likely it can give better performance.
asyncInit I see it may not be useful for me as I need to have the initialization ready before servicing any requests.

[2020-09-13 15:04] #138 closed

[2020-09-16 07:52] AnguIar opened #140 "Unknown query parameters handling"
It seems that free-form query parameters is not supported by the validator.
For this yaml:
[code]

The Swagger shows this for a valid request to send:
![image](https://user-images.githubusercontent.com/7514051/93308089-7b498a80-f80a-11ea-8ef2-ffcf7b637e47.png)

However, when I make the request I get `Input validation error`:
[code]

[2020-09-25 16:03] elijahdorman opened #141 "How to Validate multiple versions"
Is there currently a way to have multiple validators with each assigned to a different OpenAPI file and subroute?

[2020-11-17 00:30] manorlh commented on #141
I just did a pull request for that:

https://github.com/PayU/openapi-validator-middleware/pull/145

[2020-12-07 19:01] setaman opened #146 "Inconsistent body validation behavior"
I find there are some inconsistencies in the validation of request bodies, especially with multipart data. First of all, empty body produces `TypeError: validator.validate is not a function` on validation, where specification requires a multipart body. Secondly the `Content-Type` attribute is not checked, I can send multipart body where e.g. a JSON body is expected.

I am not sure if this is the d

[2020-12-07 22:57] nioc opened #147 "Internationalization"
Hello, it is possible to set internationalized error messages like [ajv-i18n](https://github.com/ajv-validator/ajv-i18n) combined with beautfy set to true?

I've tried to use it, but I have to choose between localized or beautified message:
[code]

[2020-12-07 23:08] nioc commented on #147
I found a workaround but it is ugly... do not set beautifyErrors option on init and create a new InputValidationError with original errors and beautifyErrors option set to true.

[code]
If there is a less ugly way to achieve it, let me know otherwise feel free to close the issue.

[2020-12-10 09:33] kobik commented on #147
Thanks @nioc , that would be a nice feature to add.

feel free to submit a PR.

[2020-12-10 09:35] kobik commented on #141
@elijahdorman, thanks to @manorlh for providing this feature, you can now check it out on v3.2.1.

[2020-12-10 09:35] #141 closed

[2020-12-10 09:39] kobik commented on #146
Hi @setaman , this kind f error message isn't something that should be returned in any circumstances, so it's a bug indeed.

I'm not sure about how this package is handling multipart requests and would require investing some time on it.

[2020-12-21 11:11] setaman commented on #146
Hi @kobik, It is getting even worse. I just found out that the validation of the `multipart/form-data` body fails, if i set `image` to be required. The root of all evil is the [_validateBody]( https://github.com/PayU/openapi-validator-middleware/blob/193945b706c230a3d486a5d05d98a3efb51d14d6/src/middleware.js#L84) method.

My first issue, where `TypeError: validator.validate is not a function` is t

[2020-12-22 09:59] kobik commented on #146
Hi @setaman, indeed we'd like this package to be as consistent and validate correctly according to the specification.

You're more than welcome to submit a PR.

[2020-12-22 19:03] setaman commented on #146
@kobik I will try to find some time between my work and studies to look at the issues

[2020-12-23 10:28] kobik commented on #146
Thanks @setaman, much appreciated.

[2021-01-09 20:56] thebookyouread opened #151 "simple parent child spec fails"
Using the spec below I get this error: `Cannot convert undefined or null to object`

[code]

[2021-01-10 07:40] kobik commented on #151
Hi @thebookyouread , thanks for reporting the issue.

Can you please share a stack trace of the error?

[2021-02-08 14:58] nioc commented on #147
I close this issue since workaround is enough for me.

[2021-02-08 14:58] #147 closed

[2021-02-17 22:31] udamir opened #154 "Invalid Server URL error"
I don't want to put a specific url of server in OpenAPI file, as it can be used in different environments, so I use the following:
[code]

On ```init``` method I get the error:
[code]

[2021-03-08 11:20] udamir commented on #154
Issue will be resolved with PR https://github.com/PayU/api-schema-builder/pull/69

[2021-03-08 11:20] #154 closed

[2021-05-04 06:05] manwithsteelnerves commented on #116
@kobik Did you make any performance progress post this? I don't see the release notes to go through, so check if any updates you have.

[2021-05-11 13:43] kobik commented on #136
Hi @youngerjo , thanks for your interest in this package.

Currently there is no plan to add such support from our side as we don't do serverless, but PRs are always welcome.

[2021-05-23 12:13] saputkin commented on #151
Hi,
I think this error is a result of "Circular references", i've tested other circular references definitions and got the same error.
The following is the error:

`/Users/tests/test_validator/node_modules/api-schema-builder/src/index.js:42
    Object.keys(dereferenced.paths).forEach(currentPath => {
           ^

TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymo

[2021-06-14 18:13] larssn commented on #120
Think I have the same problem. `validate` does absolutely nothing. I'm thinking it doesn't match the path.

@manwithsteelnerves Did you find a solution?

[2021-06-15 03:05] manwithsteelnerves commented on #120
@larssn Are you using cloud functions? If so, you can try this hack.

[code]

[2021-06-15 10:56] larssn commented on #120
Thanks for the quick response!

We are indeed using cloud functions. However our `Request` object does not have a `baseUrlPrefix`, and the `baseUrl` is an empty string. Googling `baseUrlPrefix` doesn't yield much, is it a custom field you've made?

[2021-06-15 11:42] larssn commented on #120
Figured it out, we had to do:
[code]

Thanks for the hint. Saved us some time!

[2021-06-15 14:11] manwithsteelnerves commented on #120
I forgot to add how we have the baseurl

[code]

We saved it in at very first router :)

[2021-06-17 07:46] kobik commented on #120
@larssn @manwithsteelnerves glad to see you've managed.

Adding a baseUrlPrefix sounds like a legitimate feature and we'll consider adding that.

[2021-06-17 15:51] manwithsteelnerves commented on #120
Great!
Just a small change.
Would be good if its req.locals.baseUrlPrefix

[2021-07-11 12:47] ilanKushnir commented on #151
Hi @thebookyouread , we checked the issue in both `api-schema-builder` and `json-schema-deref-sync` packages, and the circular references are not supported due to performance and complexity issues. We checked what we can do in our package to solve it and concluded that it will be too complicated and will take us into more issues.

For now, we decided to not support it and we recommend avoiding thi

[2021-07-30 09:48] manwithsteelnerves commented on #116
@kobik Would love to know if any thing you have progressed on this.

[2021-08-16 18:06] Striar-Yunis opened #165 "Regression? Express + OpenAPI 3.0 + Multer + multipart/form-data rejects valid file"
# Reproduction
Note: I have created a minimal reproducible example in [CodeSandBox](https://codesandbox.io/s/openapi-validator-middleware-issue-5crt7?file=/src/index.js). To use this example:
* Navigate to CodeSandBox and it will start the container
* Use a local zip file and the address bar of the rendered CodeSandBox browser to fill out the following curl
* `curl -X POST --form 'core=@/home/...Y

[2021-08-20 11:05] paimon0715 opened #166 "Update lockfile to automatically remove the vulnerability introduced by validator"
Hi, @kobik, I have reported a [vulnerability issue](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090600) in package **z-schema**.

As far as I am aware, vulnerability [**SNYK-JS-VALIDATOR-1090600**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090600),  [**SNYK-JS-VALIDATOR-1090599**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090599), [**SNYK-JS-VALIDATOR-1090602**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090

[2021-08-25 09:38] kobik commented on #166
@paimon0715 Thanks for the heads up 👍

Released a new version with the relevant fix.

[2021-08-25 09:38] #166 closed

[2021-08-25 09:38] #151 closed

[2021-09-05 08:48] o-t-w opened #169 "what is require('../../src/middleware') meant to reference?"
I am using Fastify.
In the docs you have
```const inputValidation = require('../../src/middleware');```

I don't understand what this is?

[2021-09-05 08:51] kobik commented on #169
This is a typo in the docs.

`../../src/middleware` should be `openapi-validator-middleware`

[2021-09-05 11:21] o-t-w commented on #169
Thanks for the quick reply.
It's also not that clear to me what is meant by ["Fastify support requires uri-js dependency"](https://github.com/PayU/openapi-validator-middleware#fastify-support). Does that mean I just need to npm install uri-js, or do I also need to import it? No import statement is included in the example code. It's not a dependency that I've used before.

[2021-09-05 11:58] kibertoad commented on #169
@o-t-w Thanks, fixed that in the PR as well.

[2021-09-05 12:29] #169 closed

[2021-10-26 21:20] evilive3000 opened #172 "Parameter Serialization support"
I can't make this middleware to work parameters as array ([parameter serialization](https://swagger.io/docs/specification/serialization/)) not for path-params neither query-params.

Does it support this functionality?

[2021-11-14 15:40] NivLipetz opened #174 "contentTypeValidation boolean not supported for Open API 3.0"
According to Open API 3.0 documentation - https://swagger.io/docs/specification/describing-request-body/

The current option parameter: `contentTypeValidation` supports only the consumes array and not the new content structure that defines the request body.

### Example

#### Open API 3.0 Swagger
[code]

for the following request `POST /users` with a different content-type header than application/

[2021-12-05 10:10] #174 closed

[2022-03-02 17:38] YaakovR opened #179 "Validate Response - Express"
Is there any way in Express.js to use this package to validate responses?

[2022-03-05 14:39] kobik commented on #179
Hi @YaakovR ,

It is possible to add response validation for all frameworks, although it's not currently supported. Our schema validation package supports that.

PRs are always welcom

[2022-03-22 13:22] cmarincia commented on #104
I experienced this too. Can you have a look, please?

[2022-04-08 13:52] philsturgeon opened #181 "OpenAPI v3.1 Support"
Hello! As the maintainer of [openapi.tools](https://openapi.tools) I'm interested in tracking progress towards supporting OpenAPI v3.1.

It's got a bunch of amazing changes in it, solving problems like the the [JSON Schema <!=> OpenAPI Schema Object divergence](https://apisyouwonthate.com/blog/openapi-json-schema-divergence), and fixes some other inconsistencies and duplicate ways of doing things.

[2022-05-15 11:27] itacode opened #183 "Path trailing parameter not validated as required"
First of all thank you for this very useful middleware.

In the OAS I have the following path with `int` parameter required, but if I make a request without it (`/health/validator/`) I get 200 instead of the expected validation error.
Is there a way to get it validated as required?

**OAS**:
[code]
I am using fastify with fastify-multer and your openapi-validator-middleware.
This is a **package.js

[2022-05-20 10:09] MikeKoval opened #184 "Are there any plans to add support of response validation?"

[2022-05-20 10:10] MikeKoval commented on #184
https://github.com/PayU/openapi-validator-middleware/issues/179

[2022-05-20 10:10] #184 closed, assigned to nobody

[2022-06-22 18:23] galah92 commented on #181
This is very much needed by me (as a user) as well.

[2022-06-23 06:47] kobik commented on #183
Hi @itacode , glad to see this package helps you.

The reason that you't not getting any validation error for requests coming to `/health/validator` is that it's actually not the same path as `/health/validator/{int}`, so it's not being validated.

But still fastify should return 404. Isn't that the case for you?
[code]

[2022-06-23 06:48] kobik commented on #181
Thanks for the info @philsturgeon, i'll definitely check that out.

[2022-06-23 10:40] itacode commented on #183
@kobik Thank you, now I have understood specifying `required: true` for it has no meaning. Yes it returns 404 as it should.

[2022-06-23 10:40] #183 closed, assigned to nobody

[2022-07-18 07:04] ganeshbala2008 opened #185 "Not validating if there is required header or query param"
Versions:
openapi-validator-middleware: 3.2.6
fastify: 3.28.0
node: 16.14.0
openapi: 3.0.1
Router: Fastify

I am validating the request payload and header using the middleware. The validation is not happening when we have the required parameter as true for the header and query param.

For example,
**Header:**
  site: test
  required: true
**queryparam:**
  filter: {}
  required: false

In the abov